@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "roboto", sans-serif;
    margin: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    font-size: 1.2rem;
    background-color: rgb(240, 240, 240);
    margin-block: 0.7rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
    border: 1px solid black;
}
